#!/usr/bin/env bash

set -e
set -u
set -o pipefail
set -C

LOCAL_DIR=/usr/local
HOME_LOCAL_DIR=$HOME/.local
GIST_BASE_URL="https://gist.githubusercontent.com/holly/"
AWS_INSTALL_URL="$GIST_BASE_URL/7ed983b00af2c6c8df8a8c49449bbc35/raw/aws_install_ctrl.sh"
FISH_INSTALL_URL="$GIST_BASE_URL/2bd195b9e72b2978d2d3e95102f51fd7/raw/fish_install.sh"
NVIM_INSTALL_URL="$GIST_BASE_URL/cd5fdfb0c8e08f48dbaba071b1b58909/raw/nvim_install.sh"
ROOT_INSTALL_URLS=($AWS_INSTALL_URL $FISH_INSTALL_URL $NVIM_INSTALL_URL)

SHFMT_INSTALL_URL="$GIST_BASE_URL/933f4e9594fc3ee67a8cb8eadfb3077e/raw/shfmt_install.sh"
LUALS_INSTALL_URL="$GIST_BASE_URL/314462ec66ef55605d466006a82507c7/raw/luals_install.sh"
EZA_INSTALL_URL="$GIST_BASE_URL/78952cb28e7afa9b4dcc4d70b878a142/raw/eza_install.sh"
USER_INSTALL_URLS=($SHFMT_INSTALL_URL $LUALS_INSTALL_URL)

FISHER_SOURCE_URL="https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish"

{{- if eq .chezmoi.osRelease.idLike "rhel centos fedora" }}

echo "dnf install"
sudo dnf config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
sudo dnf -y groupinstall "Development Tools"
sudo dnf -y install epel-release
sudo dnf -y update
sudo dnf -y install xsel git curl ca-certificates jq unzip libatomic bind-utils glibc-langpack-ja \
age ripgrep bat glow fd-find duf ShellCheck cargo \
docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
USER_INSTALL_URLS+=($EZA_INSTALL_URL)

{{ else if eq .chezmoi.osRelease.idLike "debian" }}

echo "apt install"
sudo install -m 0755 -d /etc/apt/keyrings

echo "for glow install"
curl -fsSL https://repo.charm.sh/apt/gpg.key | sudo gpg --dearmor -o /etc/apt/keyrings/charm.gpg
echo "deb [signed-by=/etc/apt/keyrings/charm.gpg] https://repo.charm.sh/apt/ * *" | sudo tee /etc/apt/sources.list.d/charm.list

echo "for docker install"
sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
sudo chmod a+r /etc/apt/keyrings/docker.asc
# Add the repository to Apt sources:
sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
Types: deb
URIs: https://download.docker.com/linux/ubuntu
Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
Components: stable
Architectures: $(dpkg --print-architecture)
Signed-By: /etc/apt/keyrings/docker.asc
EOF

sudo apt -y update
sudo apt -y install xsel build-essential git cmake pkg-config autotools-dev autoconf automake libtool clang llvm gdb valgrind git curl jq unzip bind9-dnsutils language-pack-ja-base language-pack-ja libatomic1 \
age ripgrep bat glow fd-find duf eza shellcheck cargo \
docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
{{- end }}

echo ""

# add docker group
RES=$(id $USER | grep docker || :)
if [[ -z $RES ]]; then
    echo "add docker group"
    sudo usermod -aG docker $USER
fi

for url in "${ROOT_INSTALL_URLS[@]}"; do
    fname=$(basename "$url")
    install_path="${LOCAL_DIR}/bin/$fname"

    echo "install $fname from $url"
    sudo bash -c "curl -sfL -o $install_path $url; chmod +x $install_path; $install_path install; :"
    echo ""
done

for url in "${USER_INSTALL_URLS[@]}"; do

    echo "install from $url"
    curl -sfL $url | bash
    echo ""
done

# install shfmt
echo "install shfmt cli"
bash -c "$(curl -sSfL $SHFMT_INSTALL_URL)" 
echo


# install zls


echo "install claude"
curl -fsSL https://claude.ai/install.sh | bash
echo ""

echo "install bun"
curl -fsSL https://bun.sh/install | bash
echo ""

echo "install uv"
curl -LsSf https://astral.sh/uv/install.sh | sh
echo ""

echo "install mise"
curl https://mise.run | sh
echo ""

echo "install node by mise"
mise use -g node@latest
echo ""

# install zvm
echo "install zvm"
curl https://www.zvm.app/install.sh | bash
echo ""

echo "install zig by zvm"
export ZVM_INSTALL="$HOME/.zvm/self"
export PATH="$PATH:$HOME/.zvm/bin"
export PATH="$PATH:$ZVM_INSTALL/"
zvm install master
zvm use master

# install fisher and more plugins
fish -c "curl -sfL $FISHER_SOURCE_URL | source; sleep 3 && fisher install jorgebucaran/fisher"
sleep 3
cat <<EOL | xargs -I% fish -c "fisher install %"
oh-my-fish/theme-bobthefish
laughedelic/fish_logo
jethrokuan/z
0rax/fish-bd
jethrokuan/fzf
EOL

# install  nvim plugin tools
PATH="$PATH:$HOME/.bun/bin"
cat <<EOL | xargs bun add -g 
tree-sitter-cli
pyright
bash-language-server
@vtsls/language-server
czg
cz-git
opencode-ai
EOL

