.bashrc
.vim/bundle/*
!.vim/bundle/neobundle.vim
*.swp
*~
.ssh/*
!.ssh/config.d/.gitignore
!.ssh/config.d/base
.ssh/authorized_keys.d/*
!.ssh/authorized_keys.d/.gitignore
.vnc/*
!.vnc/xstartup
!.zsh/.zcompdump
