.bashrc
.vim/bundle/*
!.vim/bundle/neobundle.vim
extra/*
!extra/.gitignore
*.swp
*~
.ssh/*
.ssh/config.d/*
!.ssh/config.d/.gitignore
!.ssh/config.d/base
.ssh/authorized_keys.d/*
!.ssh/authorized_keys.d/.gitignore
