export MISTRAL_API_TOKEN="{{ (bitwardenFields "item" "mistral_api_token").api_token.value | trim }}"
export MISTRAL_API_ENDPOINT="https://api.mistral.ai/v1"
export MISTRAL_API_MODEL="mistral-small-latest"
