export SAKURAAI_API_TOKEN="{{ (bitwardenFields "item" "sakuraai_api_token").api_token.value | trim }}"
export SAKURAAI_API_ENDPOINT="https://api.ai.sakura.ad.jp/v1/"
export SAKURAAI_API_MODEL="gpt-oss-120b"
