export DEEPSEEK_API_TOKEN="{{ (bitwardenFields "item" "deepseek_api_token").api_token.value | trim }}"
export DEEPSEEK_API_ENDPOINT="https://api.deepseek.com"
export DEEPSEEK_API_MODEL="deepseek-v4-flash"
